<!DOCTYPE html>
<html>
  <head>
    <title>Papalu.ca</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <!-- log in check -->
    <% if logged_in? %>
      <p> logged in as <%= current_user.name %> </p>
      <p><%= link_to "Log out", logout_path, method: :delete %></p>
    <% end %>
  </body>
</html>
